{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/app.css' %}">

    <style>
        * {
            font-size: 100%;
        }

        .table-sm td {
            padding: 0rem;
        }

        input.score {
            width: 4rem;
        }

    </style>

    <title> Halaman Utama </title>
</head>
<body>
    <div class="container-fluid mt-4">
        <h1> Data Kuesioner Performa Dosen </h1>
        <hr>

       <div class="row">
           <div class="col-4">
                <div class="card mb-5">
                    <div class="card-body">
                        <form action="/create" method="POST">
                            {% csrf_token %}
                
                            <div class="form-group">
                                <label for="nama"> Nama Dosen: </label>
                                <input name="nama" type="text" placeholder="Nama" class="form-control">
                            </div>
                
                            <div class="form-group">
                                <label for="nama"> NIP: </label>
                                <input name="NIP" type="text" placeholder="NIP" class="form-control">
                            </div>
        
                            <div class="form-group text-right">
                                <button class="btn btn-primary">
                                    Tambahkan Dosen
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
           </div>
           <div class="col-4">
               <div class="card">
                   <div class="card-body">
                        <form action="/cluster" method="POST">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="n_cluster"> Jumlah Cluster: </label>
                                <input type="number" min="2" class="form-control">
                            </div>

                            <div class="form-group text-right">
                                <button class="btn btn-primary">
                                    Klusterkan
                                </button>
                            </div>
                        </form>
                   </div>
               </div>
           </div>
       </div>

       {% for message in messages %}
       <div class="alert alert-info">
           {{ message }}
       </div>
       {% endfor %}
        
        <div id="dosen-index" class="card">
            <dosen-index/>
        </div>

    </div>
    <script> window.dosens = {{ dosens | safe }} </script>
    <script src="{% static 'main/js/app.js' %}"></script>
</body>
</html>